{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_nextblocks/nextblocks

    Main NextBlocks Page

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

{{^showSubmitButton}}
    <h1>Submission Report</h1>
    <p>
        To add comments to the code, right-click on a block and select "Add Comment".<br>
        The comments will only be saved when you click the "Save" button.
    </p>
    <hr>
{{/showSubmitButton}}

{{#showGrader}}
    <div class="container mt-6 mb-6">
        <div class="row">
            <div class="col-md-12">
                <div class="border p-6" role="alert">
                    <h4> {{studentName}} NextBlocks Report</h4>
                    <p> {{studentName}}'s code has been graded. Here are the results:</p>
                    {{currentGrade}} / {{maxGrade}}
                    <hr>
                    {{{graderForm}}}
                </div>
            </div>
        </div>
    </div>
{{/showGrader}}

{{! The main page content }}

{{{title}}}
<p> {{{description}}} </p>

<hr>

<div id="nextblocks-container" class="container-fluid mt-6 mb-6">
    <input id="showCodeButton" type="submit" class="btn btn-primary m-2" value="Toggle text code"/>
    <div class="row h-100">
        <div id = "blocklyArea" class="col-md-9 h-100">
            <div id="blocklyDiv" class="mw-100 h-100"></div>
        </div>
        <div class="col-md-3 mh-100 h-100">
            <div class="row h-25 border">
                <!-- "reactions" on top, and a row of three buttons below" -->
                <div class="col-md-12 h-100">
                    <div class="row h-25">
                        <!-- centered text "reactions" -->
                        <div class="col-md-12 text-center">
                            {{{reactionsHeading}}}
                        </div>
                    </div>
                    <div class="row h-75">
                        <!-- three emoji reactions -->
                        <div class="col-md-4 h-100">
                            <div class="row h-75">
                                <img id="emoji-hard" class = "emoji-img img-fluid border border-secondary mx-auto d-block p-1 bg-secondary rounded mh-100" src="pix/emoji-hard.png" alt="Dummy laugh image" role="button">
                            </div>
                            <div id="percentage-hard" class="col-md-12 text-center"></div>
                        </div>
                        <div class="col-md-4 h-100">
                            <div class="row h-75">
                                <img id="emoji-medium" class = "emoji-img img-fluid border border-secondary mx-auto d-block p-1 bg-secondary rounded mh-100" src="pix/emoji-think.png" alt="Dummy laugh image">
                            </div>
                            <div id="percentage-medium" class="col-md-12 text-center"></div>
                        </div>
                        <div class="col-md-4 h-100">
                            <div class="row h-75">
                                <img id="emoji-easy" class = "emoji-img img-fluid border border-secondary mx-auto d-block p-1 bg-secondary rounded mh-100" src="pix/emoji-easy.png" alt="Dummy laugh image">
                            </div>
                            <div id="percentage-easy" class="col-md-12 text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row h-75 border">
                <div class="col-md-12 h-100">
                    <div class="row h-10">
                        <div class="col-md-12 text-center">
                            {{{outputHeading}}}
                        </div>
                    </div>
                    <div class="row h-75">
                        <div id="output-div" class="col-md-12 h-100 p-2">
                        </div>
                    </div>
                    <div class="row h-15">
                        <!-- run and run tests buttons -->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input id="runButton" type="submit" class="btn btn-primary m-2" value="{{#str}} nextblocks_run, mod_nextblocks {{/str}}" />
                                    {{{runTestsButton}}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="codeDiv" class="container mt-6 mb-6"></div>

<div style="text-align: center;">
    <input id="saveButton" type="submit" class="btn btn-primary m-2" value="{{#str}} nextblocks_save, mod_nextblocks {{/str}}"/>
    {{#showSubmitButton}}
        <input id="submitButton" type="submit" class="btn btn-primary m-2" value="{{#str}} nextblocks_submit, mod_nextblocks {{/str}}"/>
    {{/showSubmitButton}}
    <input id="cancelButton" type="submit" class="btn btn-primary m-2" value="{{#str}} nextblocks_cancel, mod_nextblocks {{/str}}"/>
</div>

<hr>

<div class="container">
    <div class="chat-box">
        <div id="messages" class="messages"></div>
        <form action="" class="msg-form">
            <input type="text" name="msg" id="msg" class="chat-input msg-field" placeholder="Write message">
        </form>
    </div>
</div>