{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_nextblocks/nextblocks

    Main NextBlocks Page

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

<h2>{{activityName}} Overview</h2>

<hr>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr class="table-row">
        <th scope="col">Username</th>
        <th scope="col">Grade</th>
        <th scope="col">Reaction</th>
    </tr>
    </thead>
    <tbody>
        {{#grades}}
            <tr>
                <td>
                    <a href="#" id="userId={{userId}}" class="user-submission-url">{{username}}</a></td>
                <td>{{grade}}</td>
                <td>{{reaction}}</td>
            </tr>
        {{/grades}}
        <tr>
            <td>Total submissions: {{totalSubmissions}}</td>
            <td>Average grade: {{avgGrade}}</td>
            <td>Average reaction: {{avgReaction}}</td>
        </tr>
    </tbody>
</table>

{{#js}}
    require(['mod_nextblocks/overview'], function(Overview) {
        Overview.init({{activityId}});
    });
{{/js}}
